@charset "ISO-8859-1";

*{
	padding: 0;
	margin: 0;
	box-sizing: 0;
	font-family: 'Nunito', sans-serif;
}

.header {
	background-color: cornflowerblue;
	height: 60px;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(../img/logo.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.nav {
	justify-content: space-between;
	line-height: 30px;
	overflow: hidden;
	display: flex;
	padding: 15px
}

.nav h3 {
	color: #fff;
}

.nav ul {
	display: block;
	float: right;
	margin-right: 30px;
}

.nav ul li {
	display: inline-block;  
	margin-left: 25px;
}

.nav ul li a:hover {
	color: #f1c200;
}

.nav ul li a {
	text-decoration: none;
	color: #fff;
}

#logo {
	display: block;
}


.hero{
	padding: 10px;
	display: flex;
}

.left_section{
	padding: 10px;
	margin: 5px;
	width: 20%;
	height: 100%;
	background-color: #fff;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
	height: 500px;
}

.right_section{
	padding: 10px;
	margin: 5px;
	width: 80%;
	height: 500px;
	background-color: #fff;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.banner {
	margin-bottom: 20px;
}
.user_info {
	text-align: center;
}

.user_info img{
	margin: auto;
	width: 150px;
}

.user_details {
	margin-top: 15px;
	padding: 10px;
}

.display_tab {
	display: flex;
	width: 100%;
	
}

.display_box {
	width: 180px;
	padding: 5px;
	border-radius: 5px;
	text-align: center;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
	margin-right: 15px;
	background-color: cornflowerblue;
	color: #fff; 
}

.display_box i {
	font-size: 50px;
	color: #fff;
}

.left_side{
	width: 70%; 
	padding:5px;
} 

.left_side a {
	text-decoration: none;
	
}

.rigt_side {
	width: 30%; 
	height: 340px;  
	padding:5px;
}

.left_item{
	width:95%; 
	padding:10px; 
	height:30px; 
	background-color: cornflowerblue;
	border-radius: 5px; margin-bottom:5px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
	color: #fff; 
}

.left_item:hover{
	background-color: #f1c200;
	color: black;
}

.login_form {
	padding: 30px;
	background-color: rgba(255, 255, 255, 0.5);
	backdrop-filter: blur(10px);
	width: 350px;
	margin:10%;
	float: right;
	color: black;
	border-radius: 10px;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.login_form .submit {
	background-color: #f1c200;
	width: 100%;
	height: 40px;
	margin-top: 15px;
	cursor: pointer;
	border: none;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
	border-radius: 2px;
	font-weight: bold;
}

.login_form .submit:hover{
	background-color: #f1b100;
}


.login_form .input_field{
	width: 97%;
	margin-top: 5px;
	height: 30px;
	outline: none;
	border: none;
	padding: 5px;
	background-color: transparent;
	border-bottom: 1px solid black;
	
}

.login_form .input_field:hover{
	border-bottom: 1px solid #f1c200;
}

.common_form {
	padding: 30px;
	background-color: rgba(255, 255, 255, 0.5);
	backdrop-filter: blur(10px);
	width: 350px;
	margin:4% 5% 0% 5%;
	float: right;
	color: black;
	border-radius: 10px;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.common_form .submit {
	background-color: #f1c200;
	width: 100%;
	height: 40px;
	margin-top: 15px;
	cursor: pointer;
	border: none;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
	border-radius: 2px;
	font-weight: bold;
}

.common_form .submit_btn {
	background-color: #f1c200;
	width: 48%;
	height: 40px;
	margin-top: 15px;
	margin-right: 5px;
	cursor: pointer;
	border: none;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
	border-radius: 2px;
	font-weight: bold;
}

.common_form .submit_btn:hover{
	background-color: #f1b100;
}

.common_form .cancle_btn {
	background-color: #0080ff;
	width: 48%;
	height: 40px;
	margin-top: 15px;
	cursor: pointer;
	border: none;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
	border-radius: 2px;
	font-weight: bold;
}

.common_form .cancle_btn:hover{
	background-color: #0080c0;
}

.common_form .input_field{
	width: 97%;
	margin-top: 2px;
	height: 20px;
	outline: none;
	border: none;
	padding: 5px;
	background-color: transparent;
	border-bottom: 1px solid black;
	
}

.common_form .input_field:hover{
	border-bottom: 1px solid #f1c200;
}

.main_cover {
	background-color: rgba(255, 255, 255, 0.5);
	backdrop-filter: blur(10px);
	width: 80%;
	margin: auto;
}

.main_cover table {
	text-align: center;
}

.main_cover .controller {
    justify-content: center;
} 

.main_cover .controller .item {
	
}

.doc_info {
	background-color: rgba(255, 255, 255, 0.5);
	backdrop-filter: blur(10px);
	width: 350px;
	margin: 5%;
	padding: 20px;
	float: right;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.info_img {
	display: flex;
	margin: auto;
}

.doc_info .submit_btn {
	background-color: #f1c200;
	width: 100%;
	height: 40px;
	margin-top: 15px;
	margin-right: 5px;
	cursor: pointer;
	border: none;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
	border-radius: 2px;
	font-weight: bold;
}

.doc_info .submit_btn:hover{
	background-color: #f1b100;
}

.detailsbtn {
	background-color: #f1c200;
	width: 50px;
	height: 20px;
	margin-right: 5px;
	cursor: pointer;
	border: none;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
	border-radius: 2px;
	font-weight: bold;
} 

.detailsbtn:hover{
	background-color: #f1b100;
}


.common_btn {
	background-color: #f1c200;
	width: 50px;
	height: 40px;
	margin: 10px 0 10px 0;
	cursor: pointer;
	border: none;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
	border-radius: 2px;
	font-weight: bold;
	font-size: 32px;
}

.common_btn:hover{
	background-color: #f1b100;
}

.delete_btn {
	background-color: red;
	width: 100%;
	height: 20px;
	margin-right: 5px;
	cursor: pointer;
	border: none;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
	border-radius: 2px;
	font-weight: bold;
	color: #fff;
}

.delete_btn:hover{
	background-color: #ff8080;
}

.footer {
	width: 100%;
	background-color: cornflowerblue;
}

.footer_details{
	padding: 15px;
	color: #fff;
}

.footer_details a{
	color: #f1c200;
	text-decoration: none;
}
