@charset "ISO-8859-1";
body {
	background-image: url('../img/bg-img.jpg');
	background-size: cover; /* Ensure the background image covers the entire body */
	background-position: center; /* Center the background image */
	color: blue; /* Text color */
	align-items: center;
	height: 100vh; /* Make sure the body takes up the full viewport height */
	text-align: center;
}
	
.form-container {
    width: 800px; /* Adjust the width as needed for 4 columns */
    margin: 0 auto; /* Center the form horizontally */
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 30px;
    padding: 20px;
}

/* Apply styles to columns */
.left-column, .right-column {
    display: inline-block;
    width: 48%; /* Each column takes 48% of the width to leave some spacing */
    padding: 10px;
    text-align: left;
}

/* Apply styles to labels */
label {
    display: block;
    margin-top: 10px;
}

/* Apply styles to input fields */
input[type="text"], input[type="date"], input[type="time"],  input[type="number"]{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid blue;
    border-radius: 3px;
    background-color: #f9f9f9;
    color: #333;
    font-size: 16px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

/* Apply styles on input focus */
input[type="text"]:focus, input[type="date"]:focus, input[type="time"]:focus {
    border-color: blue;
    box-shadow: 0 0 5px rgba(17, 97, 238, 0.5);
}

/* Apply styles to the submit button */
.center-button {
    text-align: center;
    margin-top: 20px; /* Add some space below the columns */
}

input[type="submit"] {
    background-color: blue;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
	text-align: center; margin-top: 20px;
}

input[type="submit"]:hover {
    background-color: #555;
    color: #fff;
}
form{
	margin-left: 195px;
	margin-top: 100px;
	width: 800px; 
	background-color: rgba(255, 255, 255, 0.8); 
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
	text-align: center; 
	border-radius: 30px; 
	padding-right: 80px;
	padding-left: 60px;
	padding-top: 20px;
	padding-right: 60px;
}