

body {
	display: flex;
	flex-direction: column;
    font-family: Arial, sans-serif;
	background-image: url("../img/bg1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100vh;
}
		
	



        .user-info {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 150px;
        }

        .user-photo {
            width: 200px;
            height: 200px;
            border-radius: 50%;
            object-fit: cover;
            border: 3px solid #333;
            margin-bottom: 10px;
        }

        .user-details {
            text-align: left;
            margin-bottom: 20px;
        }

        
.Settings {
    display: inline-block;
    width: 150px; 
    height: 20px; 
    padding: 5px 2px;
    background-color: #5dc823;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.Settings:hover {
    background-color: #f60404;
}

        
          
          
    

