<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <servlet>
    <servlet-name>login</servlet-name>
    <servlet-class>com.admin.adminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/log</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>registerUser</servlet-name>
    <servlet-class>com.user.RegisteruserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registerUser</servlet-name>
    <url-pattern>/reguser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addDoctor</servlet-name>
    <servlet-class>com.admin.AddDoctorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addDoctor</servlet-name>
    <url-pattern>/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>docCreateSchedule</servlet-name>
    <servlet-class>com.doctor.AddScheduleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>docCreateSchedule</servlet-name>
    <url-pattern>/addSchedule</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>docLogin</servlet-name>
    <servlet-class>com.doctor.DoctorLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>docLogin</servlet-name>
    <url-pattern>/doctorLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>updateDoctor</servlet-name>
    <servlet-class>com.admin.UpdateDoctorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateDoctor</servlet-name>
    <url-pattern>/updateDoctor</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>doctorinformation</servlet-name>
    <servlet-class>com.admin.DoctorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>doctorinformation</servlet-name>
    <url-pattern>/doctorinfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deletedoctor</servlet-name>
    <servlet-class>com.admin.DeleteDoctorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deletedoctor</servlet-name>
    <url-pattern>/docdelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SessionCheckServlet</servlet-name>
    <servlet-class>your.package.name.SessionCheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionCheckServlet</servlet-name>
    <url-pattern>/sessionCheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>adminSessionDestory</servlet-name>
    <servlet-class>com.admin.AdminLogOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminSessionDestory</servlet-name>
    <url-pattern>/admin_logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>doctorInfo</servlet-name>
    <servlet-class>com.admin.DoctorInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>doctorInfo</servlet-name>
    <url-pattern>/doctor_Info</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>registerloging</servlet-name>
    <servlet-class>com.user.RegisterLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registerloging</servlet-name>
    <url-pattern>/regloging</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>registerdelete</servlet-name>
    <servlet-class>com.user.DeleteUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registerdelete</servlet-name>
    <url-pattern>/userDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>registerRetrive</servlet-name>
    <servlet-class>com.user.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registerRetrive</servlet-name>
    <url-pattern>/userRetrive</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>registerupdate</servlet-name>
    <servlet-class>com.user.UserUpadate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registerupdate</servlet-name>
    <url-pattern>/userUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>pwUpdate</servlet-name>
    <servlet-class>com.user.UpdatePWServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>pwUpdate</servlet-name>
    <url-pattern>/passwordUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchAppointment</servlet-name>
    <servlet-class>com.member.SearchAppointmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchAppointment</servlet-name>
    <url-pattern>/appointments</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DropMessage</servlet-name>
    <servlet-class>com.member.InsertMessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DropMessage</servlet-name>
    <url-pattern>/drop</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewMessage</servlet-name>
    <servlet-class>com.member.ViewMessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewMessage</servlet-name>
    <url-pattern>/viewMessage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateMessage</servlet-name>
    <servlet-class>com.member.UpdateMessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateMessage</servlet-name>
    <url-pattern>/updatemsg</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteMessage</servlet-name>
    <servlet-class>com.member.DeleteMessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteMessage</servlet-name>
    <url-pattern>/deletemsg</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PlaceAppointment</servlet-name>
    <servlet-class>com.member.PlaceAppointmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlaceAppointment</servlet-name>
    <url-pattern>/placed</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MakePayment</servlet-name>
    <servlet-class>com.member.MakePaymentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MakePayment</servlet-name>
    <url-pattern>/payment</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewAppointment</servlet-name>
    <servlet-class>com.member.ViewAppointmentsDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAppointment</servlet-name>
    <url-pattern>/myappointments</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateContactDetails</servlet-name>
    <servlet-class>com.member.UpdateContactDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateContactDetails</servlet-name>
    <url-pattern>/contdetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CancelAppointment</servlet-name>
    <servlet-class>com.member.CancelAppointmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelAppointment</servlet-name>
    <url-pattern>/cancel</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>ClaimRefund</servlet-name>
    <servlet-class>com.member.ClaimRefundServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClaimRefund</servlet-name>
    <url-pattern>/claim</url-pattern>
  </servlet-mapping>
</web-app>