<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javee
		http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
version="3.1">
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>com.customer.LoginServlet</servlet-class>
	</servlet>
</web-app>